*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata

# Project-specific
cached
prelim_results
applications/EHE/calibration_runs/markdown_summaries/outputs


# OS-specific
*.DS_Store
applications/*.DS_Store
.Rproj.user

# ignore
!commoncode/data_manager_cache_metadata.Rdata
!commoncode/package_version_cache.Rdata